@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.header{
  height: 60px;
  width: 100%;
  background-color: #2419be;
}

.pagination{
  display: flex !important;
  justify-content: center !important;
}
.pagination li a {
  background-color: #E5E5E5;
  color: white;
  border-radius: 50%;
}

.pagination li a:hover{
  background-color: #2419BE;
  color: white !important;
}

.pagination li a:active, div a:first-child {
  color: #9E9E9E !important;
  border: none !important;
}

input{
  /* background-color: #E5E5E5; */
  padding: 4px 8px;
  border: 1px solid #d9d9d9;
}

input:focus-visible{
  outline: none;
}

/* .input-dachdoard:hover{
  border:1px solid black ;
} */

/* .input-dachdoard:focus{
  border: 1px solid black ;
} */
